html, body{
    height:100%;
    width:100%;
}

body{
    background: rgba(118,188,92,1);
    background: -moz-linear-gradient(45deg, rgba(118,188,92,1) 0%, rgba(68,203,233,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(118,188,92,1)), color-stop(100%, rgba(68,203,233,1)));
    background: -webkit-linear-gradient(45deg, rgba(118,188,92,1) 0%, rgba(68,203,233,1) 100%);
    background: -o-linear-gradient(45deg, rgba(118,188,92,1) 0%, rgba(68,203,233,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(118,188,92,1) 0%, rgba(68,203,233,1) 100%);
    background: linear-gradient(45deg, rgba(118,188,92,1) 0%, rgba(68,203,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76bc5c', endColorstr='#44cbe9', GradientType=1 );
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
    height:100%;
    width:100%;
}
#letter_D{
    color:#D7323C;
    }
    
#letter_e{
    color:#1DC0E4;
}
    
#letter_v, #letter_n,#left_char,#right_char, #colon-brace, #brace{
    color:#5FA945;
}
    
#letter_C{
    color:#FDC807;
}
    
#letter_o{
    color:#EB5228;
}

#word-title{
    color:#000;
}
h1{
    font-family: "Source Code Pro", "monaco", "PT Mono", "Courier", monospace;
    font-weight: bold;
    position:center;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:5px;
    padding-top:150px;
    font-size:8vw;
}

p{
    text-align:center;
    font-size:20px;
    color:black;
    font-family:"Source Code Pro", "monaco", "PT Mono", "Courier", monospace;
}

#button-container{
    text-align: center;
    margin-top: 10px;
    font-family:"Source Code Pro", "monaco", "PT Mono", "Courier", monospace;
}

#button-container .uk-button{
    border:1px solid black;
    border-radius:5px 5px 5px 5px;
}

#button-container .uk-button:hover{
    border:1px solid black;
    box-shadow:2px 2px 2px black;

}

